@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
}
body{
    font-family: "Roboto" , sans-serif;
}
.header{
    color: white;
    background-color: #6868f6;
    padding:40px 30px;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.menu-item{
    list-style: none;
    margin-bottom: 10px;
}
.menu-item a{
    color: white;
}
.hero{
    text-align: center;
    background: #0005 url("./images/zdanie.jpg") fixed no-repeat center/cover;
    background-blend-mode: darken;
    padding: 50px 30px 50px;
    color: white;
}
.hero-title{
    font-size: 36px;
    margin-bottom: 20px;
}
.hero-subtitle{
    margin-bottom: 10px;
}
.events-item{
    background-color: green;
    padding: 40px;
}
.event-title{
    margin-bottom: 25px;
}
.event-link{
    color: white;
}
.blue{
    background-color: #5353cd;
}
.yellow{
    background-color: #f8c23b;
}
.red{
    background-color: #f84e4e;
}
.ocean{
    background-color: #5151f3;
}
.carts{
    background-color: #98b7ee;
    padding: 20px 10px;
}
.carts-img{
    width: 200px;
}
.carts-day{
    text-align: right;
    color: black;
}
.carts-item{
    background-color: #4796cd;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 15px;
}
.carts-title{
    text-align: left;
    text-transform: uppercase;
    padding: 10px;
}
.carts-subtitle{
    margin-bottom: 10px;
}
.news{
    background-color: #f5f1f0;
    padding: 30px;

}
.news-event{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}
.news-img{
    width: 200px;
}
.news-subtitle{
    color: red;
    margin-bottom:5px;
}
.footer{
    background-color: dodgerblue;
    padding: 30px;
    text-align: center;
    color: #fff;
}